<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- add favicon -->
  <link rel="shortcut icon" href="/static/imgs/dr-anpr-01.png" type="image/x-icon">
  <title>Home Page</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
  <!-- create a nav bar with title DR ANPR with bootstrap -->
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="/static/imgs/dr-anpr-01.png" alt="" width="30" height="30" class="d-inline-block align-text-top">
        DR ANPR
      </a>
    </div>
  </nav>
  <!-- create a form with action='/result/' and method='post' -->
  <br>
  <br>

  <div class="container">
    <h1>Automatic Number Plate Recognition</h1>
    <p>Upload an image of a car and get the number plate of the car.</p>
  </div>

  <br>
  <br>

  <form action="/result/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">

      <input class="form-control" type="file" id="image" name="image" accept="image/*" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <!-- get some space between two div -->
  <br>
  <br>

  <!-- get the result-img and result-txt from javascript and create a card to show the image and text output -->
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <img src="/static/imgs/dr-anpr-01.png" class="card-img-top" id="image-id" alt="...">
          <div class="card-body">
            <h5 class="card-title">Number Plate</h5>
            
          </div>
          
        </div>
        
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Text Output</h5>
            <p class="card-text" id="result-txt"></p>
          </div>
        </div>
    </div>
  </div>
  </div>

  <br>
  <br>

  <!-- create a footer at the end of the webpage -->
  <footer class="bg-light text-center text-lg-start">
    <div class="text-center p-3" style="background-color: #e3f2fd;">
      © 2023 Developed by
      <a class="text-dark" href="https://www.linkedin.com/in/divyesh-patel-a500b41b1/">Divyesh Patel</a> and <a
        class="text-dark" href="https://www.linkedin.com/in/rushi-prajapati12/">Rushi Prajapati</a>
  <!-- add jquery and bootstrap js -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <script src="/static/js/anpr.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
</body>
</html>